.btn {
    border: none;
    min-width: 500px;
    width: 100%;
    height: 50px;
    border-radius: 4px 4px 0px 0px;
    text-transform: uppercase;
    margin-bottom: 36px;
    font-size: 12px;
    font-family: "Gotham Medium";
    cursor: pointer;
}

.btn--primary {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: #FFFFFF;
}

.btn--secondary {
    background: #FFFFFF;
    border: 1px solid #0770A6;
    color: #0B6C9F;
}

.btn--primary:hover {
    background: linear-gradient(180deg, #0077B5 0%, #0b4d6e 100%);
}

.btn--secondary:hover {
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: #fff;
}