.container {
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
}

.content__left {
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
  width: 100%;
  height: 100vh;
  position: relative;
}

.content__right {
  width: 50%;
  padding: 0 65px;
}

.content__logo {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

/* Fonts */

@font-face {
  font-family: "Gotham Book";
  src: url('./assets/fonts/GothamBook.woff');
}

@font-face {
  font-family: "Gotham Medium";
  src: url('./assets/fonts/GothamMedium.woff');
}

@font-face {
  font-family: "Gotham Light";
  src: url('./assets/fonts/GothamLight.woff');
}

@font-face {
  font-family: "Gotham Bold";
  src: url('./assets/fonts/Gotham-Bold.woff');
}
